

        {% block nav %}
        
        <ul>
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="{{ path('app_about') }}">À propos</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            
        </ul>
                
        {% endblock %}    

